<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
<!-- <header> -->
<div id="container">

    <div id="Heading">
        <h1>Welcome to NeuralVault</h1>
    </div>
    <div id="button-div">
        <!-- Admin button -->
        <a href="{{ url_for('admin_login') }}">
            <button id="Buttonnn">Go to Admin Panel</button>
        </a>
    </div>
</div>
<!-- </header> -->

<form action="{{ url_for('upload_resume') }}" method="post" enctype="multipart/form-data">
    <div id="container-2">
        <input type="file" name="file" id="file" accept=".pdf" required>
        <label for="file">Add File: (PDF only)</label>
        <button type="submit" id="Buttonn" name="action" value="upload">Upload</button>
    </div>
</form>

</body>

</html>